.sankeyNode rect {
    cursor: move;
    fill-opacity: 0.9;
    shape-rendering: crispEdges;
  }

.sankeyNode text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-weight: 400;
  stroke: "black";
}

.sankeyLink {
  fill: none;
  stroke: black;
  stroke-opacity: .1;
}

.sankeyLink:hover {
  stroke-opacity: .5;
}

#label1 {
  font-size: 15px;
  margin-left: 30px;
  font-weight: 600;
  stroke: "black";
}

#label2 {
  font-size: 15px;
  margin-left: -5px;
  font-weight: 600;
  stroke: "black";
}

#label3 {
  font-size: 15px;
  font-weight: 600;
  stroke: "black";
}
